
<div class="castCard">
  <img [src]="cast.profile_path">
  <div class="cardText">
    <h6>{{cast.name}}</h6>
    <h6 style="font-weight: 800">As</h6>
    <p>{{cast.character}}</p>
  </div>

</div>


<!--<div class="castCard">
  <div class="card">
    <img class="card-img-top" [src]="cast.profile_path" alt="Card image cap">
    <div class="card-body">
      <p class="card-title">{{cast.name}}</p>
      <p class="card-title">As</p>
      <p class="card-text">{{cast.character}}</p>
    </div>
  </div>
</div>-->

